* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 32px;
}

.barra {
    background-color: #ffffff;
    padding: 8px 16px;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list li {
    margin-right: 24px;
}

.list li a {
    text-decoration: none;
    color: #212429;
    font-size: 16px;
    font-weight: bold;
}


hr {
    margin: 8px 0;
    border: none;
    border-top: 1px solid #eaeaea;
}

section{
    margin-left: 4rem;
    margin-right: 4rem;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding-top: 80px; 
}

.foto {
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.1);
    padding: 16px;
    border-radius: 8px;
    transition: transform 0.3s ease; 
}

.foto a{
    text-decoration: none;
    color: #212429;
}

.foto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.foto h2 {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.foto a img footer {
    font-size: 14px;
    text-decoration: none;
    color: #212429;
}

.foto:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(33, 36, 41, 0.1);
}

.piepagina {
    background-color: #212429;
    color: #ffffff;
    padding: 16px;
    text-align: center;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer img {
    vertical-align: middle;
    margin-right: 8px;
}

@media screen and (max-width: 920px) {
    .list {
        flex-direction: column;
        align-items: flex-start;
    }

    .list li {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .container {
        grid-template-columns: repeat(1, 1fr); 
        padding-top: 120px;
    }
}